# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth

POSTGRES_URL="postgres://default:umdzfIRkT74Q@ep-bold-water-73715439-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_PRISMA_URL="postgres://default:umdzfIRkT74Q@ep-bold-water-73715439-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://default:umdzfIRkT74Q@ep-bold-water-73715439.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_USER="default"
POSTGRES_HOST="ep-bold-water-73715439-pooler.us-east-1.postgres.vercel-storage.com"
POSTGRES_PASSWORD="umdzfIRkT74Q"
POSTGRES_DATABASE="verceldb"